:root {
  --main-lightest: #FCEFC0;
  --main-lighter: #FAD882;
  --main-light: #ED9B20;
  --main-dark: #D76800;
  --main-darker: #B34200;
  --main-darkest: #882100;
  --main-gray: #707070;
}

html{
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: var(--main-lightest);
  /* background-image: url(../img/bg_sliver.jpg); */
}

h3, h4{
  font-family: 'Lalezar', sans-serif;
}

nav{
  background-color: var(--main-lighter);
}

.navbar{
  padding: 0px 0.8rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.brandtitle{
  color: black;
  font-family: 'Lalezar', sans-serif;
  font-size: 2.8rem;
}

.navbar-toggler{
  border: 1px solid var(--main-light);
}

.navbar-toggler-icon{
  color: white;
}

.nav-item {
  height: 110px;
  width: 101px;
  margin: 0 auto;
}

.nav-link{
  padding: 43px;
  margin: 0 auto;
  text-align: center;
  color: black;
  display: block;
}

.nav-link:hover{
  text-decoration: none;
  color: black;
}

.active>.nav-link{
  color: white;
}

.nav-item{
  background-color: var(--main-lighter);
}

.nav-item:hover{
  background-color: var(--main-lighter);
}

li.active{
  background-color: var(--main-light);
}

li.active:hover{
  background-color: var(--main-light);
}

.navbar form{
  padding: 0.8rem;
}

.btn{
  padding: 0px;
}

/* NAV */

.fa-search{
  font-size: 1.2rem;
}

article{
  padding-bottom: 20px;
}

#carousel{
  padding: 40px 0px;
}

/* ABOUT */

#about>div>div>div{
  width: 350px;
}

/* FOOTER */

/* footer{
  background-color: var(--main-lighter);
} */

footer h4{
  padding-top: 10px;
}

hr{
  margin: 15px -15px;
}

.fab{
  color: black;
  padding: 3px;
  font-size: 1.5rem;
}

.fab:hover{
  background-color: var(--main-light);
}

/* FOOTER */